.particle {
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    position: absolute;
}

.particle[data-father="false"] {
    width: 5px;
    height: 5px;
}

body, html {
    overflow-y: hidden;
    overflow-x: hidden;
}

